# Created by .ignore support plugin (hsz.mobi)
/.gradle/
/.idea/
/*/build/
/link-parent.iml
/build/
/*/bin/
.vscode/
*/.settings/
*/.project
*/.classpath
*/.DS_Store
.DS_Store
.classpath
.project
.settings/
